# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
cpp/cmake-build-debug
cpp/.idea
python/WavesDisplay/.idea
/.idea